
{% extends "base_generic.html" %}
{% block content %}
<body style="background:#000000">
<br>
<h1 style="color: white;">Creando Información de Videojuegos.</h1>

<br><br><br><br>
<div class="container d-flex flex-column flex-md-row justify-content-between" style="background: linear-gradient(to bottom left, #000000,  #202020);"> 
<form action="" method="post"> <br><br>
    {%csrf_token%}
    <table style="color: darkmagenta;">
        {{form.as_table}}

    </table>
    <input class="btn btn-secondary" type="submit" value="Crear"> <br><br><br>

</form>
</div>
</body>
{% endblock %}