<html>
{% extends "base_generic.html" %}

{% block content %}
<head>
    <br>

{% load static %}
<link rel="stylesheet" href="css/styles">
</head>

<body style="background:black">
    
    <h1 style="text-align: center;">Lista de usuarios</h1>

    <p class=container style="margin-left: 1250px;">
        <a style="color:white; font-size: 12px;"  href="{% url 'usuario_create' %}">Agregar usuario.</a>
    </p>
    
    <ul>
        {% for usuario in object_list %}
        <br>
        <div class=container style="background: linear-gradient(to bottom left, #000000,  #202020);">
            <a style="font-size: 20px; color: darkmagenta;"href="{{ usuario.get_absolute_url}}"> {{usuario.usuario}}</a> <br> <br>
            <a style="margin-right: 15px;"  href="{% url 'usuario_update' usuario.rut %}"> <input class="btn btn-secondary" type="button" value="Editar" > </a> 
            <a href="{% url 'usuario_delete' usuario.rut %}"> <input class="btn btn-secondary" type="button" value="Eliminar" ></a> <br> <br> <br>
                
        </div>    
        {% endfor %}
    </ul>

</body>
{% endblock %}
</html>