{% extends "base_generic.html" %}

{% block content %}

{% load static %} 
<link href="{% static 'css/otroestilo.css' %}" rel= stylesheet>


<br><br><br><br>

<body style="background: black">
    
    <br><br><br><br><br><br><br><br>
    <div class=container style="background: linear-gradient(to left, #000000,  #202020);">
    <h1 style="font-size: 50px; color: white;"> Usuario : {{ usuario.usuario}}</h1>
    <br>
    
    <p style= color:white;><strong>Rut: </strong> {{usuario.rut}} </p>
    <p style= color:white;><strong>Correo: </strong> {{usuario.correo}}</p>
    <p style= color:white;><strong>Clave: </strong> {{usuario.clave}}</p>
    </div>

    <footer class="footer" style="text-align: right; margin-right: 40px;">
        <br><br><br><br><br><br><br><br><br>
        <a href="{% url 'usuarios'  %}"> Volver atrás </a>
    
    </footer>



</body>

{% endblock %}