.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;

}


.color2 {
    color : rgb(148, 120, 59);
}

.color1{
    color : #99ebff;
}

h1{
    color: black;
}

.text {
    color: #99ebff;
}

.k {
    border-style: solid;
}